.CardListContainer {
    margin: 3.5rem 0rem;
    width: fit-content;
}
.CardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}
@media ( min-width: 768px ) {
    .CardList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        justify-content: space-between;
    }
}
@media ( min-width: 1024px ) {
    .CardList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        justify-content: initial;
    }
}
